Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
fonttools==4.59.0
pillow==11.3.0
pip==25.1.1
pycparser==2.22
pydyf==0.11.0
PyPDF2==3.0.1
pyphen==0.17.2
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==65.1
webencodings==0.5.1
wheel==0.45.1
zopfli==0.2.3.post1
